<div x-show="about" class="bg-white bg-opacity-5 p-4">
  <div class="flex flex-col text-white">
    <div class="flex flex-col">
      <div class="font-mono text-xl">
        <img class="inline w-[15px] h-[15px] mr-2" src="img/svg/person.svg">Sho Maeda
          <div class="TextTyping md:inline inline-block font-thin text-xs mr-2">
            University Student / Web Developer
        </div>
      </div>
    </div>
    <div class="pt-4">
        <div class="font-mono"><img class="inline w-[15px] h-[15px] mr-2" src="img/svg/activily.svg">Work</div>
        <div>Hi, there! Thanks for comeing!</div>
        <div>I'm a japanese student at Chuo University majoring in literature, and develop web.</div>
    </div>
    <div class="pt-4 font-mono">
      <div><img class="inline w-[15px] h-[15px] mr-2" src="img/svg/morterboard.svg">Bio</div>
      <div class="pr-2">2002/9 Born in Saitama, Japan</div>
      <div class="pr-2">2021/4 Into Chuo University</div>
      <div class="pr-2">2022/3 AWS Certified Solutions Architect - Associate</div>
      <div class="pr-2">2022/4 Web Developer Internship</div>
    </div>
  </div>
</div>
