<div x-show="about">
  <div class="flex flex-col text-white">
    <div class="flex flex-col border-b-2 border-gray-500">
      <div class="font-bold text-xl">Sho Maeda</div>
      <div class="text-xs">University Student / Web Developer</div>
    </div>
    <div class="pt-4">
        <span class="border-b-2 border-gray-500 font-bold">Work</span>
        <div class="pt-2 TextTyping">Hi, there! </div>
        <div class="TextTyping">I'm a student at Chuo University majoring in literature, and develop web.</div>
    </div>
    <div class="pt-4 font-bold">
      <span class="border-b-2 border-gray-500">Bio</span>
      <div class="pr-2 pt-2">2002 Born in Saitama, Japan.</div>
      <div class="pr-2">2021 Into Chuo University.</div>
      <div class="pr-2">2022 Now ...</div>
    </div>
  </div>
</div>

<div x-show="archives">
  <div class="flex flex-col text-center w-full text-gray">
    <div class="text-left border-b-2 border-gray-500">
      <div class="text-white font-bold text-xl">Archives</div>
      <div class="text-xs text-white"><a target="_blank" class="inline-block hover:underline" href="https://github.com/sshd911">If you want to get all archives, click here to access my GitHub.</a></div>
    </div>
    <div class="mt-4 flex flex-col bg-gray-300 opacity-20 rounded-lg">
      <div class="flex flex-col text-left m-2">
        <div class="flex-1">Homepage</div>
        <div class="flex-1">Three.js, Alpine.js, TailwindCSS</div>
      </div>
    </div>
    <div class="mt-4 flex flex-col bg-gray-300 opacity-20 rounded-lg">
      <div class="flex flex-col text-left m-2">
        <div class="flex-1">coming soon ...</div>
        <div class="flex-1">...</div>  
      </div>
    </div>
    <div class="mt-4 flex flex-col bg-gray-300 opacity-20 rounded-lg">
      <div class="flex flex-col text-left m-2">
        <div class="flex-1">coming soon ...</div>
        <div class="flex-1">...</div>  
      </div>
    </div>
  </div>
</div>